.apropos__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.apropos__button {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
}

.apropos__button:hover {
    color: palevioletred;
    cursor: pointer;
}

.animation_text1 {
     padding-left: 20px;
    opacity: 0;
    animation: fadeIn 1.0s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.animation_text2 {
     padding-left: 20px;
    opacity: 0;
    animation: fadeIn2 1.0s ease-out forwards;
}
@keyframes fadeIn2 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.apropos__line2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lien {
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    
}

.lien a {
    color: black;
    font-size: 30px;
    font-weight: 900;
     @media (max-width: 600px) {
    font-size: 20px;
  }
}

.lien a:hover {
    color: darkorchid;
}

